In [1]:
import pandas as pd
import json

In [2]:
profile = pd.read_json("./profile.json", lines=True)
profile.head()

  gender  age                                id  became_member_on    income
0   None  118  68be06ca386d4c31939f3a4f0e3dd783          20170212       NaN
1      F   55  0610b486422d4921ae7d2bf64640c50b          20170715  112000.0
2   None  118  38fe809add3b4fcf9315a9694bb96ff5          20180712       NaN
3      F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509  100000.0
4   None  118  a03223e636434f42ac4c3df47e8bac43          20170804       NaN

In [3]:
portfolio = pd.read_json("./portfolio.json", lines=True)
portfolio.head()

,reward,channels,difficulty,duration,offer_type,id
0,10,"[email, mobile, social]",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,10,"[web, email, mobile, social]",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,0,"[web, email, mobile]",0,4,informational,3f207df678b143eea3cee63160fa8bed
3,5,"[web, email, mobile]",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,5,"[web, email]",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7

In [4]:
len(portfolio)

10

In [5]:
transcript = pd.read_json("./transcript.json", lines=True)
transcript.head()

,person,event,value,time
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
1,a03223e636434f42ac4c3df47e8bac43,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
2,e2127556f4f64592b11af22de27a7932,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0
4,68617ca6246f4fbc85e91a2a49552598,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0

In [6]:
transcript.event.unique()

array(['offer received', 'offer viewed', 'transaction', 'offer completed'],
      dtype=object)

In [7]:
print(transcript.loc[transcript["event"] == 'offer received'])

                                  person           event  \
0       78afa995795e4d85b5d9ceeca43f5fef  offer received
1       a03223e636434f42ac4c3df47e8bac43  offer received
2       e2127556f4f64592b11af22de27a7932  offer received
3       8ec6ce2a7e7949b1bf142def7d0e0586  offer received
4       68617ca6246f4fbc85e91a2a49552598  offer received
...                                  ...             ...
257882  d087c473b4d247ccb0abfef59ba12b0e  offer received
257883  cb23b66c56f64b109d673d5e56574529  offer received
257884  6d5f3a774f3d4714ab0c092238f3a1d7  offer received
257885  9dc1421481194dcd9400aec7c9ae6366  offer received
257886  e4052622e5ba45a8b96b59aba68cf068  offer received

                                                   value  time
0       {'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}     0
1       {'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}     0
2       {'offer id': '2906b810c7d4411798c6938adc9daaa5'}     0
3       {'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}     0
4       {'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}     0
...                                                  ...   ...
257882  {'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'}   576
257883  {'offer id': '2906b810c7d4411798c6938adc9daaa5'}   576
257884  {'offer id': '2298d6c36e964ae4a3e7e9706d1fb8c2'}   576
257885  {'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'}   576
257886  {'offer id': '3f207df678b143eea3cee63160fa8bed'}   576

[76277 rows x 4 columns]

In [8]:
print(transcript.loc[transcript["event"] == 'offer viewed'])

                                  person         event  \
12650   389bc3fa690240e798340f5a15918d5c  offer viewed
12651   d1ede868e29245ea91818a903fec04c6  offer viewed
12652   102e9454054946fda62242d2e176fdce  offer viewed
12653   02c083884c7d45b39cc68e1314fec56c  offer viewed
12655   be8a5d1981a2458d90b255ddc7e0d174  offer viewed
...                                  ...           ...
306441  d56386cf344c4829bbf420d1895dca37  offer viewed
306450  9b51e8797290403b90d09d864dec4b94  offer viewed
306483  84fb57a7fe8045a8bf6236738ee73a0f  offer viewed
306490  abc4359eb34e4e2ca2349da2ddf771b6  offer viewed
306507  8dda575c2a1d44b9ac8e8b07b93d1f8e  offer viewed

                                                   value  time
12650   {'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'}     0
12651   {'offer id': '5a8bc65990b245e5a138643cd4eb9837'}     0
12652   {'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}     0
12653   {'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'}     0
12655   {'offer id': '5a8bc65990b245e5a138643cd4eb9837'}     0
...                                                  ...   ...
306441  {'offer id': '5a8bc65990b245e5a138643cd4eb9837'}   714
306450  {'offer id': '3f207df678b143eea3cee63160fa8bed'}   714
306483  {'offer id': '5a8bc65990b245e5a138643cd4eb9837'}   714
306490  {'offer id': '3f207df678b143eea3cee63160fa8bed'}   714
306507  {'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}   714

[57725 rows x 4 columns]

In [9]:
print(transcript.loc[transcript["event"] == 'transaction'])

                                  person        event  \
12654   02c083884c7d45b39cc68e1314fec56c  transaction
12657   9fa9ae8f57894cc9a3b8a9bbe0fc1b2f  transaction
12659   54890f68699049c2a04d415abc25e717  transaction
12670   b2f1cd155b864803ad8334cdf13c4bd2  transaction
12671   fe97aa22dd3e48c8b143116a8403dd52  transaction
...                                  ...          ...
306529  b3a1272bc9904337b331bf348c3e8c17  transaction
306530  68213b08d99a4ae1b0dcb72aebd9aa35  transaction
306531  a00058cf10334a308c68e7631c529907  transaction
306532  76ddbd6576844afe811f1a3c0fbb5bec  transaction
306533  c02b10e8752c4d8e9b73f918558531f7  transaction

                                 value  time
12654   {'amount': 0.8300000000000001}     0
12657                {'amount': 34.56}     0
12659                {'amount': 13.23}     0
12670                {'amount': 19.51}     0
12671                {'amount': 18.97}     0
...                                ...   ...
306529  {'amount': 1.5899999999999999}   714
306530                {'amount': 9.53}   714
306531                {'amount': 3.61}   714
306532  {'amount': 3.5300000000000002}   714
306533                {'amount': 4.05}   714

[138953 rows x 4 columns]

In [10]:
print(transcript.loc[transcript["event"] == 'offer completed'])

                                  person            event  \
12658   9fa9ae8f57894cc9a3b8a9bbe0fc1b2f  offer completed
12672   fe97aa22dd3e48c8b143116a8403dd52  offer completed
12679   629fc02d56414d91bca360decdfa9288  offer completed
12692   676506bad68e4161b9bbaffeb039626b  offer completed
12697   8f7dd3b2afe14c078eb4f6e6fe4ba97d  offer completed
...                                  ...              ...
306475  0c027f5f34dd4b9eba0a25785c611273  offer completed
306497  a6f84f4e976f44508c358cc9aba6d2b3  offer completed
306506  b895c57e8cd047a8872ce02aa54759d6  offer completed
306509  8431c16f8e1d440880db371a68f82dd0  offer completed
306527  24f56b5e1849462093931b164eb803b5  offer completed

                                                    value  time
12658   {'offer_id': '2906b810c7d4411798c6938adc9daaa5...     0
12672   {'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...     0
12679   {'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9...     0
12692   {'offer_id': 'ae264e3637204a6fb9bb56bc8210ddfd...     0
12697   {'offer_id': '4d5c57ea9a6940dd891ad53e9dbe8da0...     0
...                                                   ...   ...
306475  {'offer_id': '2298d6c36e964ae4a3e7e9706d1fb8c2...   714
306497  {'offer_id': '2298d6c36e964ae4a3e7e9706d1fb8c2...   714
306506  {'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...   714
306509  {'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...   714
306527  {'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...   714

[33579 rows x 4 columns]

In [30]:
res = []
for i in range(len(transcript)):
    if i%100000 ==0:
        print("Processin {} out of {}...".format(i+1, len(transcript)))
    p_id = transcript.loc[i, "person"]
    temp = profile.loc[profile["id"] == p_id]
#     print(temp)
    for t in range(len(temp)):
        gender = temp.iloc[t,0]
        age = temp.iloc[t,1]
        became_member_on = temp.iloc[t,3]
        income = temp.iloc[t,4]
        event = transcript.loc[i,"event"]
        if event in ['offer received', 'offer viewed']:
            try:
                o_id = transcript.loc[i,"value"]["offer_id"]
            except:
                o_id = transcript.loc[i,"value"]["offer id"]
            temp2 = portfolio.loc[portfolio["id"] == o_id]
#             print(temp2)
            for t2 in range(len(temp2)):
                reward = temp2.iloc[t2,0]
                channels = temp2.iloc[t2,1]
                difficulty = temp2.iloc[t2,2]
                duration = temp2.iloc[t2,3]
                offer_type = temp2.iloc[t2,4]
                amount = 0
                oreward = 0
                res.append([gender, age,p_id, became_member_on,
                           income, event, reward, channels, difficulty, duration,
                           offer_type,o_id, amount,oreward, transcript.loc[i,"time"]])
        elif event == "offer completed":
            oreward = transcript.loc[i,"value"]["reward"]
            reward = None
            o_id = None
            channels = None
            difficulty = None
            duration = None
            offer_type = None
            oreward = 0
            amount = 0
            res.append([gender, age,p_id, became_member_on,
                       income, event, reward, channels, difficulty, duration,
                       offer_type,o_id ,amount,oreward ,transcript.loc[i,"time"]])
        else:
                reward = None
                channels = None
                difficulty = None
                duration = None
                o_id = None
                offer_type = None
                oreward = 0
                amount = transcript.loc[i,"value"]["amount"]
                res.append([gender, age,p_id, became_member_on,
                           income, event, reward, channels, difficulty, duration,
                           offer_type,o_id, amount,oreward ,transcript.loc[i,"time"]])

Processin 1 out of 306534...
Processin 100001 out of 306534...
Processin 200001 out of 306534...
Processin 300001 out of 306534...

In [31]:
data = [["gender", "age", "p_id", "became_member_on", "income", 
        "event", "reward", "channels", "difficulty", "duration", "offer_type",
        "o_id", "amount","o_reward", "time"]] + res

In [32]:
import csv
current = !pwd
writer = csv.writer(open("./data.csv", "w+"))
writer.writerows(data)

In [50]:
data = pd.read_csv("./data.csv")
# data['income'] = data['income'].div(100).round(2)
# data['adv'] = data['reward'] - data['difficulty']
data.head()

,gender,age,p_id,became_member_on,income,event,reward,channels,difficulty,duration,offer_type,o_id,amount,o_reward,time
0,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0,offer received,5.0,"['web', 'email', 'mobile']",5.0,7.0,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0,0
1,NaN,118,a03223e636434f42ac4c3df47e8bac43,20170804,NaN,offer received,5.0,"['web', 'email']",20.0,10.0,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7,0.0,0,0
2,M,68,e2127556f4f64592b11af22de27a7932,20180426,70000.0,offer received,2.0,"['web', 'email', 'mobile']",10.0,7.0,discount,2906b810c7d4411798c6938adc9daaa5,0.0,0,0
3,NaN,118,8ec6ce2a7e7949b1bf142def7d0e0586,20170925,NaN,offer received,2.0,"['web', 'email', 'mobile', 'social']",10.0,10.0,discount,fafdcd668e3743c1bb461111dcafc2a4,0.0,0,0
4,NaN,118,68617ca6246f4fbc85e91a2a49552598,20171002,NaN,offer received,10.0,"['web', 'email', 'mobile', 'social']",10.0,5.0,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0,0

In [ ]:
# sample = data.loc[data["age"] > 100]
# sample

In [ ]:
# data.describe()

In [ ]:
# import seaborn as sns
# sns.set()
# # dots = sns.load_dataset("data")
# sns.relplot(x="age", y="income", data=data, kind="line")

In [ ]:
# sns.relplot(x="reward", y="difficulty", data=data, kind="line")

In [ ]:
# sns.relplot(x="income", y="amount", data=data, kind="line")

In [ ]:
# sns.relplot(x="reward", y="duration", data=data, kind="line")

In [ ]:
# sns.relplot(x="difficulty", y="reward", data=data, kind="line")

In [ ]:
# len(data.p_id.unique())

In [ ]:
# data.dropna()
# len(data)

In [ ]:
# data = data.dropna(subset=["offer_type"])

In [ ]:
# data.gender.unique()

In [ ]:
# values = {'gender':'O', 'age': data["age"].median(), 'income': 0, 'reward': 0, "difficulty":0}
# data = data.fillna(value=values)

In [ ]:
# from sklearn.preprocessing import OneHotEncoder
# enc = OneHotEncoder(handle_unknown='ignore')

In [ ]:
# dummy = data[["gender", "age", "income", "reward", "difficulty","offer_type"]]
X = data[["gender", "age", "income", "reward", "difficulty"]]
y = data[["offer_type"]]

In [ ]:
# dummy = enc.fit_transform(dummy).toarray()

In [ ]:
# dummy

In [ ]:
# y = dummy[:,-1]
# X = dummy[:,:-1]

In [ ]:
# y

In [ ]:
# len(X)

In [ ]:
# len(y)

In [ ]:
# X.head()

In [ ]:
# y.head()

In [ ]:
# from sklearn.preprocessing import OneHotEncoder
# enc = OneHotEncoder(handle_unknown='ignore')
# # x =X_enc.fit_transform(X)
# # y_enc = OneHotEncoder(handle_unknown='ignore')
# # y = y_enc.fit_transform(y)

In [ ]:
# from sklearn.preprocessing import LabelEncoder
# le = LabelEncoder()
# X["gender"] = le.fit_transform(X["gender"])
# y["offer_type"] = le.fit_transform(y["offer_type"])

In [ ]:
# X = enc.fit_transform(X,y)

In [ ]:
# y.head()

In [ ]:
# from sklearn.model_selection import train_test_split
# X_train , X_test, y_train, y_test =train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
# y.offer_type.unique()

In [ ]:
# from sklearn.svm import LinearSVC
# clf = LinearSVC(random_state=0, tol=1e-5)
# clf.fit(X_train, y_train)

In [ ]:
# pred = clf.predict(X_test)

In [ ]:
# len(y_test)

In [ ]:
# from sklearn.metrics import accuracy_score
# accuracy_score(pred, y_test)

In [ ]:
# clf.predict([X_test[0]])

# Data Analysis

In [24]:
u_person = data.p_id.unique()

In [25]:
for u in u_person:
    print (data.loc[data["p_id"] == u])
    break

       gender  age                              p_id  became_member_on  \
0           F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509
15561       F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509
47582       F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509
47583       F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509
49502       F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509
53176       F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509
85291       F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509
87134       F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509
92104       F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509
141566      F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509
150598      F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509
163375      F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509
201572      F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509
218393      F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509
218394      F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509
218395      F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509
230412      F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509
262138      F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509

          income            event  reward  \
0       100000.0   offer received     5.0
15561   100000.0     offer viewed     5.0
47582   100000.0      transaction     NaN
47583   100000.0  offer completed     NaN
49502   100000.0      transaction     NaN
53176   100000.0   offer received     0.0
85291   100000.0     offer viewed     0.0
87134   100000.0      transaction     NaN
92104   100000.0      transaction     NaN
141566  100000.0      transaction     NaN
150598  100000.0   offer received    10.0
163375  100000.0     offer viewed    10.0
201572  100000.0   offer received     5.0
218393  100000.0      transaction     NaN
218394  100000.0  offer completed     NaN
218395  100000.0  offer completed     NaN
230412  100000.0      transaction     NaN
262138  100000.0     offer viewed     5.0

                                    channels  difficulty  duration  \
0                 ['web', 'email', 'mobile']         5.0       7.0
15561             ['web', 'email', 'mobile']         5.0       7.0
47582                                    NaN         NaN       NaN
47583                                    NaN         NaN       NaN
49502                                    NaN         NaN       NaN
53176          ['email', 'mobile', 'social']         0.0       3.0
85291          ['email', 'mobile', 'social']         0.0       3.0
87134                                    NaN         NaN       NaN
92104                                    NaN         NaN       NaN
141566                                   NaN         NaN       NaN
150598         ['email', 'mobile', 'social']        10.0       7.0
163375         ['email', 'mobile', 'social']        10.0       7.0
201572  ['web', 'email', 'mobile', 'social']         5.0       5.0
218393                                   NaN         NaN       NaN
218394                                   NaN         NaN       NaN
218395                                   NaN         NaN       NaN
230412                                   NaN         NaN       NaN
262138  ['web', 'email', 'mobile', 'social']         5.0       5.0

           offer_type   o_id  amount  o_reward  time
0                bogo   0.00       0         0   NaN
15561            bogo   0.00       0         6   NaN
47582             NaN  19.89       0       132   NaN
47583             NaN   0.00       0       132   NaN
49502             NaN  17.78       0       144   NaN
53176   informational   0.00       0       168   NaN
85291   informational   0.00       0       216   NaN
87134             NaN  19.67       0       222   NaN
92104             NaN  29.72       0       240   NaN
141566            NaN  23.93       0       378   NaN
150598           bogo   0.00       0       408   NaN
163375           bogo   0.00       0       408   NaN
201572           bogo   0.00       0       504   NaN
218393            NaN  21.72       0       510   NaN
218394            NaN   0.00       0       510   NaN
218395            NaN   0.00       0       510   NaN
230412            NaN  26.56       0       534   NaN
262138           bogo   0.00       0       582   NaN

# Data Cleaning

## Gender = O

In [210]:
data = pd.read_csv("./data.csv")
# data['income'] = data['income'].div(100).round(2)
# data['adv'] = data['reward'] - data['difficulty']
data.head()

,gender,age,p_id,became_member_on,income,event,reward,channels,difficulty,duration,offer_type,o_id,amount,o_reward,time
0,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0,offer received,5.0,"['web', 'email', 'mobile']",5.0,7.0,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0,0
1,NaN,118,a03223e636434f42ac4c3df47e8bac43,20170804,NaN,offer received,5.0,"['web', 'email']",20.0,10.0,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7,0.0,0,0
2,M,68,e2127556f4f64592b11af22de27a7932,20180426,70000.0,offer received,2.0,"['web', 'email', 'mobile']",10.0,7.0,discount,2906b810c7d4411798c6938adc9daaa5,0.0,0,0
3,NaN,118,8ec6ce2a7e7949b1bf142def7d0e0586,20170925,NaN,offer received,2.0,"['web', 'email', 'mobile', 'social']",10.0,10.0,discount,fafdcd668e3743c1bb461111dcafc2a4,0.0,0,0
4,NaN,118,68617ca6246f4fbc85e91a2a49552598,20171002,NaN,offer received,10.0,"['web', 'email', 'mobile', 'social']",10.0,5.0,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0,0

In [211]:
data = data.dropna(subset=["offer_type"])
data = data.reset_index()

In [212]:
value = {"gender": "O", "income":data["income"].median()}
data = data.fillna(value=value)

In [213]:
data.pop("p_id")
data.pop("o_id")
y = data.pop("event")

In [214]:
y.head()

0    offer received
1    offer received
2    offer received
3    offer received
4    offer received
Name: event, dtype: object

In [215]:
data.head()

,index,gender,age,became_member_on,income,reward,channels,difficulty,duration,offer_type,amount,o_reward,time
0,0,F,75,20170509,100000.0,5.0,"['web', 'email', 'mobile']",5.0,7.0,bogo,0.0,0,0
1,1,O,118,20170804,64000.0,5.0,"['web', 'email']",20.0,10.0,discount,0.0,0,0
2,2,M,68,20180426,70000.0,2.0,"['web', 'email', 'mobile']",10.0,7.0,discount,0.0,0,0
3,3,O,118,20170925,64000.0,2.0,"['web', 'email', 'mobile', 'social']",10.0,10.0,discount,0.0,0,0
4,4,O,118,20171002,64000.0,10.0,"['web', 'email', 'mobile', 'social']",10.0,5.0,bogo,0.0,0,0

In [216]:
# for i in range(len(data)):
#     res = []
#     if i%10000 == 0:
#         print("{} out of {} completed...".format(i, len(data)))
#     tmp = data.loc[i, "channels"]
#     res.append(tmp)
#     data.loc[i, "channels"] = res

In [217]:
data.pop("channels")

0                   ['web', 'email', 'mobile']
1                             ['web', 'email']
2                   ['web', 'email', 'mobile']
3         ['web', 'email', 'mobile', 'social']
4         ['web', 'email', 'mobile', 'social']
                          ...
133993    ['web', 'email', 'mobile', 'social']
133994           ['email', 'mobile', 'social']
133995           ['email', 'mobile', 'social']
133996           ['email', 'mobile', 'social']
133997           ['email', 'mobile', 'social']
Name: channels, Length: 133998, dtype: object

In [196]:
# data["channels"]
# from sklearn.preprocessing import MultiLabelBinarizer

# mlb = MultiLabelBinarizer()
# data = data.join(pd.DataFrame(mlb.fit_transform(data.pop('channels')),
#                           columns=mlb.classes_,
#                           index=data.index))

In [230]:
from sklearn.model_selection import train_test_split
X_train , X_test, y_train, y_test =train_test_split(data, y, test_size=0.3, random_state=42)

In [231]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')
X_train = enc.fit_transform(X_train)

MemoryError:

In [220]:
(data[0].shape)

(1, 136033)

In [ ]:
# enc2 = OneHotEncoder(handle_unknown='ignore')
# data = data.join(pd.DataFrame(enc2.fit_transform(data.pop('offer_type')),
#                           index=data.index))

In [199]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)