In [1]:
import pandas as pd
import json

In [ ]:
profile = pd.read_json("./profile.json", lines=True)
profile.head()

In [ ]:
portfolio = pd.read_json("./portfolio.json", lines=True)
portfolio.head()

In [ ]:
len(portfolio)

In [ ]:
transcript = pd.read_json("./transcript.json", lines=True)
transcript.head()

In [ ]:
transcript.event.unique()

In [ ]:
print(transcript.loc[transcript["event"] == 'offer received'])

In [ ]:
print(transcript.loc[transcript["event"] == 'offer viewed'])

In [ ]:
print(transcript.loc[transcript["event"] == 'transaction'])

In [ ]:
print(transcript.loc[transcript["event"] == 'offer completed'])

In [ ]:
res = []
for i in range(len(transcript)):
    if i%100000 ==0:
        print("Processin {} out of {}...".format(i+1, len(transcript)))
    p_id = transcript.loc[i, "person"]
    temp = profile.loc[profile["id"] == p_id]
#     print(temp)
    for t in range(len(temp)):
        gender = temp.iloc[t,0]
        age = temp.iloc[t,1]
        became_member_on = temp.iloc[t,3]
        income = temp.iloc[t,4]
        event = transcript.loc[i,"event"]
        if event in ['offer received', 'offer viewed']:
            try:
                o_id = transcript.loc[i,"value"]["offer_id"]
            except:
                o_id = transcript.loc[i,"value"]["offer id"]
            temp2 = portfolio.loc[portfolio["id"] == o_id]
#             print(temp2)
            for t2 in range(len(temp2)):
                reward = temp2.iloc[t2,0]
                channels = temp2.iloc[t2,1]
                difficulty = temp2.iloc[t2,2]
                duration = temp2.iloc[t2,3]
                offer_type = temp2.iloc[t2,4]
                amount = 0
                oreward = 0
                res.append([gender, age,p_id, became_member_on,
                           income, event, reward, channels, difficulty, duration,
                           offer_type,o_id, amount,oreward, transcript.loc[i,"time"]])
        elif event == "offer completed":
            oreward = transcript.loc[i,"value"]["reward"]
            reward = None
            o_id = None
            channels = None
            difficulty = None
            duration = None
            offer_type = None
            oreward = 0
            amount = 0
            res.append([gender, age,p_id, became_member_on,
                       income, event, reward, channels, difficulty, duration,
                       offer_type,o_id ,amount,oreward ,transcript.loc[i,"time"]])
        else:
                reward = None
                channels = None
                difficulty = None
                duration = None
                o_id = None
                offer_type = None
                oreward = 0
                amount = transcript.loc[i,"value"]["amount"]
                res.append([gender, age,p_id, became_member_on,
                           income, event, reward, channels, difficulty, duration,
                           offer_type,o_id, amount,oreward ,transcript.loc[i,"time"]])

In [ ]:
data = [["gender", "age", "p_id", "became_member_on", "income", 
        "event", "reward", "channels", "difficulty", "duration", "offer_type",
        "o_id", "amount","o_reward", "time"]] + res

In [ ]:
import csv
current = !pwd
writer = csv.writer(open("./data.csv", "w+"))
writer.writerows(data)

In [2]:
data = pd.read_csv("./data.csv")
# data['income'] = data['income'].div(100).round(2)
# data['adv'] = data['reward'] - data['difficulty']
data.head()

,gender,age,p_id,became_member_on,income,event,reward,channels,difficulty,duration,offer_type,o_id,amount,o_reward,time
0,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0,offer received,5.0,"['web', 'email', 'mobile']",5.0,7.0,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0,0
1,NaN,118,a03223e636434f42ac4c3df47e8bac43,20170804,NaN,offer received,5.0,"['web', 'email']",20.0,10.0,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7,0.0,0,0
2,M,68,e2127556f4f64592b11af22de27a7932,20180426,70000.0,offer received,2.0,"['web', 'email', 'mobile']",10.0,7.0,discount,2906b810c7d4411798c6938adc9daaa5,0.0,0,0
3,NaN,118,8ec6ce2a7e7949b1bf142def7d0e0586,20170925,NaN,offer received,2.0,"['web', 'email', 'mobile', 'social']",10.0,10.0,discount,fafdcd668e3743c1bb461111dcafc2a4,0.0,0,0
4,NaN,118,68617ca6246f4fbc85e91a2a49552598,20171002,NaN,offer received,10.0,"['web', 'email', 'mobile', 'social']",10.0,5.0,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0,0

In [ ]:
# sample = data.loc[data["age"] > 100]
# sample

In [ ]:
# data.describe()

In [ ]:
# import seaborn as sns
# sns.set()
# # dots = sns.load_dataset("data")
# sns.relplot(x="age", y="income", data=data, kind="line")

In [ ]:
# sns.relplot(x="reward", y="difficulty", data=data, kind="line")

In [ ]:
# sns.relplot(x="income", y="amount", data=data, kind="line")

In [ ]:
# sns.relplot(x="reward", y="duration", data=data, kind="line")

In [ ]:
# sns.relplot(x="difficulty", y="reward", data=data, kind="line")

In [ ]:
# len(data.p_id.unique())

In [ ]:
# data.dropna()
# len(data)

In [ ]:
# data = data.dropna(subset=["offer_type"])

In [ ]:
# data.gender.unique()

In [ ]:
# values = {'gender':'O', 'age': data["age"].median(), 'income': 0, 'reward': 0, "difficulty":0}
# data = data.fillna(value=values)

In [ ]:
# from sklearn.preprocessing import OneHotEncoder
# enc = OneHotEncoder(handle_unknown='ignore')

In [ ]:
# dummy = data[["gender", "age", "income", "reward", "difficulty","offer_type"]]
X = data[["gender", "age", "income", "reward", "difficulty"]]
y = data[["offer_type"]]

In [ ]:
# dummy = enc.fit_transform(dummy).toarray()

In [ ]:
# dummy

In [ ]:
# y = dummy[:,-1]
# X = dummy[:,:-1]

In [ ]:
# y

In [ ]:
# len(X)

In [ ]:
# len(y)

In [ ]:
# X.head()

In [ ]:
# y.head()

In [ ]:
# from sklearn.preprocessing import OneHotEncoder
# enc = OneHotEncoder(handle_unknown='ignore')
# # x =X_enc.fit_transform(X)
# # y_enc = OneHotEncoder(handle_unknown='ignore')
# # y = y_enc.fit_transform(y)

In [ ]:
# from sklearn.preprocessing import LabelEncoder
# le = LabelEncoder()
# X["gender"] = le.fit_transform(X["gender"])
# y["offer_type"] = le.fit_transform(y["offer_type"])

In [ ]:
# X = enc.fit_transform(X,y)

In [ ]:
# y.head()

In [ ]:
# from sklearn.model_selection import train_test_split
# X_train , X_test, y_train, y_test =train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
# y.offer_type.unique()

In [ ]:
# from sklearn.svm import LinearSVC
# clf = LinearSVC(random_state=0, tol=1e-5)
# clf.fit(X_train, y_train)

In [ ]:
# pred = clf.predict(X_test)

In [ ]:
# len(y_test)

In [ ]:
# from sklearn.metrics import accuracy_score
# accuracy_score(pred, y_test)

In [ ]:
# clf.predict([X_test[0]])

# Data Analysis

In [ ]:
u_person = data.p_id.unique()

In [ ]:
for u in u_person:
    print (data.loc[data["p_id"] == u])
    break

# Data Cleaning

## Gender = O

In [29]:
data = pd.read_csv("./data.csv")
# data['income'] = data['income'].div(100).round(2)
# data['adv'] = data['reward'] - data['difficulty']
data.head()

,gender,age,p_id,became_member_on,income,event,reward,channels,difficulty,duration,offer_type,o_id,amount,o_reward,time
0,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0,offer received,5.0,"['web', 'email', 'mobile']",5.0,7.0,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0,0
1,NaN,118,a03223e636434f42ac4c3df47e8bac43,20170804,NaN,offer received,5.0,"['web', 'email']",20.0,10.0,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7,0.0,0,0
2,M,68,e2127556f4f64592b11af22de27a7932,20180426,70000.0,offer received,2.0,"['web', 'email', 'mobile']",10.0,7.0,discount,2906b810c7d4411798c6938adc9daaa5,0.0,0,0
3,NaN,118,8ec6ce2a7e7949b1bf142def7d0e0586,20170925,NaN,offer received,2.0,"['web', 'email', 'mobile', 'social']",10.0,10.0,discount,fafdcd668e3743c1bb461111dcafc2a4,0.0,0,0
4,NaN,118,68617ca6246f4fbc85e91a2a49552598,20171002,NaN,offer received,10.0,"['web', 'email', 'mobile', 'social']",10.0,5.0,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0,0

In [30]:
data = data.dropna(subset=["offer_type"])
data = data.reset_index()

In [31]:
value = {"gender": "O", "income":data["income"].median()}
data = data.fillna(value=value)

In [32]:
data.pop("p_id")
data.pop("o_id")
y = data.pop("event")

In [39]:
y.head()

0    offer received
1    offer received
2    offer received
3    offer received
4    offer received
Name: event, dtype: object

In [40]:
y.to_csv("./target.csv")

/home/kushagra/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [25]:
data.pop("gender")

0         F
1         O
2         M
3         O
4         O
         ..
133993    M
133994    F
133995    O
133996    F
133997    O
Name: gender, Length: 133998, dtype: object

In [37]:
data.head()

,index,gender,age,became_member_on,income,reward,channels,difficulty,duration,offer_type,...,bogo,discount,informational,female,male,others,web,email,mobile,social
0,0,F,75,20170509,100000.0,5.0,"['web', 'email', 'mobile']",5.0,7.0,bogo,...,1,0,0,1,0,0,1,1,1,0
1,1,O,118,20170804,64000.0,5.0,"['web', 'email']",20.0,10.0,discount,...,0,1,0,0,0,1,1,1,0,0
2,2,M,68,20180426,70000.0,2.0,"['web', 'email', 'mobile']",10.0,7.0,discount,...,0,1,0,0,1,0,1,1,1,0
3,3,O,118,20170925,64000.0,2.0,"['web', 'email', 'mobile', 'social']",10.0,10.0,discount,...,0,1,0,0,0,1,1,1,1,1
4,4,O,118,20171002,64000.0,10.0,"['web', 'email', 'mobile', 'social']",10.0,5.0,bogo,...,1,0,0,0,0,1,1,1,1,1

In [38]:
data.to_csv("./new_data.csv")

In [ ]:
# for i in range(len(data)):
#     res = []
#     if i%10000 == 0:
#         print("{} out of {} completed...".format(i, len(data)))
#     tmp = data.loc[i, "channels"]
#     res.append(tmp)
#     data.loc[i, "channels"] = res

In [19]:
data.offer_type.unique()

array(['bogo', 'discount', 'informational'], dtype=object)

In [33]:
bogo = []
discount = []
informational = []
for i in range(len(data)):
    if i%10000 == 0:
        print("{} out of {} processing...".format(i, len(data)))
    l = data.loc[i ,"offer_type"]
    if "bogo" == l:
        bogo.append(1)
    else:
        bogo.append(0)
    if "discount" == l:
        discount.append(1)
    else:
        discount.append(0)
    if "informational" == l:
        informational.append(1)
    else:
        informational.append(0)
        
data["bogo"] = bogo
data["discount"] = discount
data["informational"] = informational
# data["social"] = social

0 out of 133998 processing...
10000 out of 133998 processing...
20000 out of 133998 processing...
30000 out of 133998 processing...
40000 out of 133998 processing...
50000 out of 133998 processing...
60000 out of 133998 processing...
70000 out of 133998 processing...
80000 out of 133998 processing...
90000 out of 133998 processing...
100000 out of 133998 processing...
110000 out of 133998 processing...
120000 out of 133998 processing...
130000 out of 133998 processing...

In [34]:
female = []
male = []
others = []
for i in range(len(data)):
    if i%10000 == 0:
        print("{} out of {} processing...".format(i, len(data)))
    l = data.loc[i ,"gender"]
    if "F" == l:
        female.append(1)
    else:
        female.append(0)
    if "M" == l:
        male.append(1)
    else:
        male.append(0)
    if "O" == l:
        others.append(1)
    else:
        others.append(0)
        
data["female"] = female
data["male"] = male
data["others"] = others
# data["social"] = social

0 out of 133998 processing...
10000 out of 133998 processing...
20000 out of 133998 processing...
30000 out of 133998 processing...
40000 out of 133998 processing...
50000 out of 133998 processing...
60000 out of 133998 processing...
70000 out of 133998 processing...
80000 out of 133998 processing...
90000 out of 133998 processing...
100000 out of 133998 processing...
110000 out of 133998 processing...
120000 out of 133998 processing...
130000 out of 133998 processing...

In [35]:
female

[1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 ...]

In [17]:
data.pop("channels")

0                   ['web', 'email', 'mobile']
1                             ['web', 'email']
2                   ['web', 'email', 'mobile']
3         ['web', 'email', 'mobile', 'social']
4         ['web', 'email', 'mobile', 'social']
                          ...
133993    ['web', 'email', 'mobile', 'social']
133994           ['email', 'mobile', 'social']
133995           ['email', 'mobile', 'social']
133996           ['email', 'mobile', 'social']
133997           ['email', 'mobile', 'social']
Name: channels, Length: 133998, dtype: object

In [36]:
web = []
email = []
mobile = []
social = []
for i in range(len(data)):
    if i%10000 == 0:
        print("{} out of {} processing...".format(i, len(data)))
    l = data.loc[i ,"channels"]
    if "web" in l:
        web.append(1)
    else:
        web.append(0)
    if "email" in l:
        email.append(1)
    else:
        email.append(0)
    if "mobile" in l:
        mobile.append(1)
    else:
        mobile.append(0)
    if "social" in l:
        social.append(1)
    else:
        social.append(0)
data["web"] = web
data["email"] = email
data["mobile"] = mobile
data["social"] = social

0 out of 133998 processing...
10000 out of 133998 processing...
20000 out of 133998 processing...
30000 out of 133998 processing...
40000 out of 133998 processing...
50000 out of 133998 processing...
60000 out of 133998 processing...
70000 out of 133998 processing...
80000 out of 133998 processing...
90000 out of 133998 processing...
100000 out of 133998 processing...
110000 out of 133998 processing...
120000 out of 133998 processing...
130000 out of 133998 processing...

In [ ]:
data.pop("channels")

In [ ]:
# data["channels"]
# from sklearn.preprocessing import MultiLabelBinarizer

# mlb = MultiLabelBinarizer()
# data = data.join(pd.DataFrame(mlb.fit_transform(data.pop('channels')),
#                           columns=mlb.classes_,
#                           index=data.index))

In [ ]:
from sklearn.model_selection import train_test_split
X_train , X_test, y_train, y_test =train_test_split(data, y, test_size=0.3, random_state=42)

In [ ]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')
X_train = enc.fit_transform(X_train)

In [ ]:
(data[0].shape)

In [ ]:
# enc2 = OneHotEncoder(handle_unknown='ignore')
# data = data.join(pd.DataFrame(enc2.fit_transform(data.pop('offer_type')),
#                           index=data.index))

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)