In [26]:
import pandas as pd

In [27]:
X = pd.read_csv("./new_data.csv")

In [28]:
y = pd.read_csv("./target.csv", names=["temp", "event"])

In [29]:
X.head()

,Unnamed: 0,index,gender,age,became_member_on,income,reward,channels,difficulty,duration,...,bogo,discount,informational,female,male,others,web,email,mobile,social
0,0,0,F,75,20170509,100000.0,5.0,"['web', 'email', 'mobile']",5.0,7.0,...,1,0,0,1,0,0,1,1,1,0
1,1,1,O,118,20170804,64000.0,5.0,"['web', 'email']",20.0,10.0,...,0,1,0,0,0,1,1,1,0,0
2,2,2,M,68,20180426,70000.0,2.0,"['web', 'email', 'mobile']",10.0,7.0,...,0,1,0,0,1,0,1,1,1,0
3,3,3,O,118,20170925,64000.0,2.0,"['web', 'email', 'mobile', 'social']",10.0,10.0,...,0,1,0,0,0,1,1,1,1,1
4,4,4,O,118,20171002,64000.0,10.0,"['web', 'email', 'mobile', 'social']",10.0,5.0,...,1,0,0,0,0,1,1,1,1,1

In [30]:
X.pop("Unnamed: 0")

0              0
1              1
2              2
3              3
4              4
           ...
133993    133993
133994    133994
133995    133995
133996    133996
133997    133997
Name: Unnamed: 0, Length: 133998, dtype: int64

In [31]:
X.pop("channels")

0                   ['web', 'email', 'mobile']
1                             ['web', 'email']
2                   ['web', 'email', 'mobile']
3         ['web', 'email', 'mobile', 'social']
4         ['web', 'email', 'mobile', 'social']
                          ...
133993    ['web', 'email', 'mobile', 'social']
133994           ['email', 'mobile', 'social']
133995           ['email', 'mobile', 'social']
133996           ['email', 'mobile', 'social']
133997           ['email', 'mobile', 'social']
Name: channels, Length: 133998, dtype: object

In [32]:
X.pop("gender")

0         F
1         O
2         M
3         O
4         O
         ..
133993    M
133994    F
133995    O
133996    F
133997    O
Name: gender, Length: 133998, dtype: object

In [33]:
X.pop("index")

0              0
1              1
2              2
3              3
4              4
           ...
133993    306413
133994    306419
133995    306421
133996    306433
133997    306441
Name: index, Length: 133998, dtype: int64

In [34]:
X.pop("became_member_on")

0         20170509
1         20170804
2         20180426
3         20170925
4         20171002
            ...
133993    20171116
133994    20171018
133995    20170303
133996    20160804
133997    20171102
Name: became_member_on, Length: 133998, dtype: int64

In [35]:
X.pop("offer_type")

0                  bogo
1              discount
2              discount
3              discount
4                  bogo
              ...
133993             bogo
133994    informational
133995             bogo
133996    informational
133997    informational
Name: offer_type, Length: 133998, dtype: object

In [36]:
X["income"] =X["income"]/1000

In [37]:
y.head()

   temp           event
0     0  offer received
1     1  offer received
2     2  offer received
3     3  offer received
4     4  offer received

In [38]:
y.pop("temp")

0              0
1              1
2              2
3              3
4              4
           ...
133993    133993
133994    133994
133995    133995
133996    133996
133997    133997
Name: temp, Length: 133998, dtype: int64

In [39]:
from sklearn.preprocessing import LabelEncoder

In [40]:
le = LabelEncoder()
y = le.fit_transform(y)

/home/kushagra/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [41]:
len(y) == len(X)

True

In [42]:
# y = ["event"] + list(y)

In [43]:
# y = pd.DataFrame(y, header=["event"] )

In [44]:
le.classes_

array(['offer received', 'offer viewed'], dtype=object)

In [45]:
from sklearn.model_selection import train_test_split

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [47]:
# Linear Regression
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train, y_train)
# from sklearn.svm import LinearSVC
# reg = LinearSVC().fit(X_train, y_train)

In [48]:
pred = reg.predict(X_test)
for n in range(len(pred)):
    pred[n] = round(pred[n])
from sklearn.metrics import accuracy_score
accuracy_score(pred,y_test)

0.5721144278606966

In [49]:
# from sklearn.svm import SVC
# clf = SVC(gamma='auto')
# clf.fit(X_train, y_train)
# pred = cls.predict(X_test)
# accuracy_score(pred,y_test)

In [50]:
from sklearn import linear_model
clf = linear_model.SGDClassifier(max_iter=1000, tol=1e-3)
clf.fit(X_train, y_train)
pred = clf.predict(X_test)
accuracy_score(pred,y_test)

0.5682587064676617

In [51]:
from sklearn.svm import LinearSVC
reg = LinearSVC().fit(X_train, y_train)
pred = reg.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(pred,y_test)

/home/kushagra/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

0.4488059701492537